# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mystudy\OAuth2-Demo-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
